body {
  background: url(/static/images/background3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-item {
  font-size: 25px;
}

.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  background-color: lightgrey;
  color: black;
  border-radius: 20px 20px 20px 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Lexend Mega", sans-serif;
  font-size: 70px;
  color: rgb(5, 0, 0);
  text-shadow: 3px 3px rgb(104, 255, 104);
}

p {
  text-align: center;
  font-weight: bold;
  color: white;
}

.graphs {
  color: white;
}

.col {
  text-align: center;
}

#front_page {
  font-size: 30px;
}

#front_page img {
  border-radius: 50%;
}

#front_page:hover {
  color: limegreen;
  border-style: dotted;
  transition-timing-function: ease-in;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#bubble {
  text-align: center;
}
